<div class="space" data-ng-controller="HomeController" data-ng-hide="authentication.user">
		<h2 class="huge">Hungry?</h2>
		<h3>There is a huge connection between your stomach and the brain...</h3>
		<h4>Click here to<a href="/#!/signin"> Send Your Order</a></h4>
</div>



<section data-ng-controller="HomeController" data-ng-hide="authentication.user.roles !== 'admin'">
	<div class="row home">
		<div class="navbar">
			<ul class="navigate">
				<li ng-class="{active:page.isSelected(1)}" style="margin-left: 100px;">
					<a class="menu" ng-click="selectTab(1)">View Food Items</a>
				</li>
				<li ng-class="{active:page.isSelected(2)}" style="margin-left: 100px; margin-right: 100px;">
					<a class="menu" ng-click="selectTab(2)">Create Menu</a>
				</li>
				<li ng-class="{active:page.isSelected(3)}" style="margin-left: 50px;">
					<a class="menu" ng-click="selectTab(3)">View Menus</a>
				</li>
			</ul>
		</div>

		<div>
			<div ng-show="isSelected() === 1" ng-include="'modules/fooditems/views/create-fooditem.client.view.html'"></div>
			<div ng-show="isSelected() === 2" ng-include="'modules/menus/views/create-menu.client.view.html'"></div>
			<div ng-show="isSelected() === 3" ng-include="'modules/menus/views/list-menus.client.view.html'"></div>
		</div>
	</div>
</section>


<section data-ng-controller="HomeController" data-ng-show="authentication.user">
	<div class="row home"  data-ng-show="authentication.user.roles === 'user'">
<!-- 		<div>
			<ul class="navigate">
				<li ng-class="{active:page.isSelected(1)}">
					<a ng-click="selectTab(1)" class="btn btn-primary btn-lg">Create Order</a>
				</li>
			    <li ng-class="{active:page.isSelected(2)}">
					<a ng-click="selectTab(2)" class="btn btn-primary btn-lg">View Previous Orders</a>
				</li> 
			</ul>
		</div> -->
		<div>
			<div ng-show="isSelected() === 1" ng-include="'modules/orders/views/create-order.client.view.html'"></div>
			<!-- <div ng-show="isSelected() === 2" ng-include="''"></div> -->
		</div>
	<div>
</section>

