.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}
.navigate ul {
	list-style: none;
}
.navigate li {
	display: inline-block;
	padding: 20px 20px;
}
.price {
	font-weight: bolder;
	margin-left: 10px;
	float: right;
}
.editDelete {
	float: right;
}
.icons {
	margin-left: 30px;
}
.icons a:hover {
	text-decoration: none;
}
.delete:hover {
	color: red;
	text-decoration: none;
}
.edit:hover {
	color: green;
	text-decoration: none;
}
.quantityField {
	width: 30px;
	margin-right: 5px;
}
body {
	background: url('../img/brand/others.jpg');
	background-attachment: fixed;
	width: 100%;
}
.home {
	margin-top: 80px;
	background: url('../img/brand/home.jpg');
	background-attachment: fixed;
	background-size: 100%;
	width: 100%;
	overflow-y: scroll;
	height: 470px;
	box-shadow: 0 0 5px rgb(0,0,0);
	padding: 50px 50px;
}
.signIn {
	margin-top: 80px;
	background: url('../img/brand/home.jpg');
	background-attachment: fixed;
	background-size: 100%;
	width: 100%;
	box-shadow: 0 0 5px rgb(0,0,0);
	padding: 50px 50px;	
}
.topbar {
	height: 100px;
	width:100%;
	color: #000;
	border-bottom: none;

background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(1%, rgba(0,128,128,1)), 
	color-stop(17%, rgba(26,150,146,1)), 
	color-stop(79%, rgba(128,240,219,1)), 
	color-stop(89%, rgba(145,255,231,1)));
}
.titleText {
	font-family: 'Leckerli One', cursive;
	font-size: 30px;
	margin-top: 20px;
	margin-right: 80px;
	color: #000;
}
.titleText:hover,
.titleText li a:hover {
	text-decoration: none;
	color: #000;

}
.d {
	font-size: 50px
}
.logo {
	width: 80px;
	height: 60px;
	margin-top: -20px;
}
.titleText li {
	display: inline-block;
	list-style: none;
}
.titleText li a {
	font-size: 15px;
	color: darkblue;
}

.btn-primary {

}
.list-group-item {
	padding: 3px 5px;
	background: -webkit-gradient(linear, left top, left bottom, 
		color-stop(9%, rgba(237,255,251,1)), 
		color-stop(13%, rgba(237,255,251,1)), 
		color-stop(49%, rgba(201,255,235,1)), 
		color-stop(58%, rgba(201,255,235,1)));
}
.done {
	
background: -webkit-gradient(linear, left top, left bottom, color-stop(9%, rgba(243,194,255,1)), color-stop(13%, rgba(243,194,255,1)), color-stop(71%, rgba(250,231,255,1)), color-stop(92%, rgba(253,245,255,1)));
}
