<section class=" signIn row" data-ng-controller="PasswordController">
    <h3 class="col-md-12 text-center">Restore your password</h3>
    <p class="small text-center">Enter your account username.</p>
    <div>
        <form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
                <div class="col-md-2 col-md-offset-5">
    				<div class="form-group">
    					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
    				</div>
                    <div class="text-center form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div data-ng-show="error" class="col-xs-offset-1 col-xs-8 col-md-offset-3 col-md-6 text-center text-success">
                    <p>{{error}}</p>
                </div>
                <div data-ng-show="success" class="col-xs-offset-1 col-xs-8 col-md-offset-3 col-md-6 text-center text-success">
                    <p>{{success}}</p>
                </div>
            </fieldset>
        </form>
    </div>
</section>