<section class="signIn row" data-ng-controller="PasswordController">
    <h3 class="text-center">Reset your password</h3>
    <div>
        <form data-ng-submit="resetUserPassword()" class="signin form-horizontal" autocomplete="off">
            <fieldset>
            <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
                <div class="form-group">
                    <div class="input-group ">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-asterisk"></i>
                        </span>
                        <input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
                    </div> 
                </div>
                <div class="form-group">
                    <div class="input-group ">
                        <span class="input-group-addon">
                            <i class="text-muted glyphicon glyphicon-asterisk"></i>
                        </span>
                        <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
                    </div>
                </div>

                <div class="text-center form-group">
                    <button type="submit" class="btn btn-large btn-primary">Update Password</button>
                </div>
            </div>
                <div data-ng-show="error" class="col-xs-offset-1 col-xs-8 col-md-offset-3 col-md-6 text-center text-success">
                    <strong>{{error}}</strong>
                </div>
                <div data-ng-show="success" class="col-xs-offset-1 col-xs-8 col-md-offset-3 col-md-6 text-center text-success">
                    <strong>{{success}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>