<section data-ng-controller="FooditemsController" data-ng-show="authentication.user.roles === 'admin'">
    <div class="page-header">
        <h4>New Food Item</h4>
    </div>
    <div data-ng-show="show_item_success" class="text-danger">
        <p>Food Item created!</p>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                
                <div class="form-group list-group">
                        <ul class="navigate">
                            <li><input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required></li>
                            <li><input type="text" data-ng-model="price" id="name" class="form-control" placeholder="Price" required></li>
                            <li><input type="submit" class="btn btn-primary order" value="Add Food Item"></li>
                            <li><input type='button' class='btn btn-primary' value='Update Item' ng-click='update();'>
                        </ul>
                </div>       
				<div data-ng-show="error" class="text-danger list-group">
					<p data-ng-bind="error"></p>
				</div>
            </fieldset>
        </form>
        <section data-ng-init= "find()">
            <div class="page-header">
                <h4>List of Food Items</h4>
            </div>
            <div>
                <ul data-ng-repeat="fooditem in fooditems" data-ng-href="#!/fooditems/{{fooditem._id}}" class="list-group-item navigate">
                    <li><p data-ng-bind="fooditem.name"></p></li>
                    <li><p data-ng-bind="fooditem.price"></p></li>
                    <li class="editDelete"><a class="glyphicon glyphicon-edit edit btn btn-primary order" data-ng-click="selectForUpdate($index);">
                    </a>
                    <a class="glyphicon glyphicon-trash delete btn btn-primary" data-ng-click="remove(fooditem);">
                    </a></li>
                </ul>
            </div>
            <div class="alert alert-warning text-center done" data-ng-hide="!fooditems.$resolved || fooditems.length">
                No Fooditems yet
            </div>
        </section>
    </div>
</section>