<section data-ng-controller="FooditemsController" data-ng-init="">
    <div class="page-header">
        <h1>Food Items</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="fooditem in fooditems" data-ng-href="#!/fooditems/{{fooditem._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="fooditem.name"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="fooditem.price"></h4>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!fooditems.$resolved || fooditems.length">
    	No Fooditems yet, why don't you <a href="/#!/fooditems/create">create one</a>?
    </div>
</section>
