<section class="home" data-ng-controller="OrdersController" data-ng-init="findByMenu()">
    <div class="page-header">
        <h4>Today's Orders{{menu.date}}</h4>
    </div>
        <ul data-ng-repeat="order in orders" class="list-group-item navigate">
                <li><strong>
				    <span data-ng-bind="order.user.displayName"></span>
                </strong></li>
                    <!-- <span data-ng-bind="order.items"></span> -->
                <li ng-repeat="item in order.items">
                    <span data-ng-bind = "item.item.name"></span>
                    <strong><span data-ng-bind = "item.item.price * item.quantity"></span></strong>
                </li>
        </ul>

    <div class="alert alert-warning text-center done" data-ng-hide="!orders.$resolved || orders.length">
    	No Orders yet
    </div>
</section>