<section data-ng-controller="MenusController" data-ng-show="authentication.user.roles === 'admin'">
    
    <div class="row page-header">
        <div class="col-md-4"><h4>Food Item</h4></div>
        <div class="col-md-4 col-md-offset-4"><h4>New Menu</h4>
        </div>
    </div>

    <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <div data-ng-controller="FooditemsController">
                <div class="list-group col-xs-8 col-md-5 foodItem">
                    <ul data-ng-repeat="fooditem in fooditems track by $index" class="list-group-item navigate">
                        <li class="list-group-item-heading" data-ng-bind="fooditem.name"></li>
                        <li style="float:right;"><input type="checkbox" ng-click= "checkIndex($event, fooditem)" /></li>
                        <li class="list-group-item-heading price" data-ng-bind="fooditem.price"></li>   
                    </ul>
                    <div class="alert alert-warning text-center done" data-ng-hide="!fooditems.$resolved || fooditems.length">
                        No Fooditems yet
                    </div>
                </div>
                <div class="list-group col-xs-8 col-md-5 createMenu">
                    <ul data-ng-repeat="fooditem in items track by $index" class="list-group-item navigate done">
                        <li class="list-group-item-heading" data-ng-bind="fooditem.name"></li>
                        <li class="list-group-item-heading price" data-ng-bind="fooditem.price"></li>  
                    </ul>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary order pull-right" data-ng-hide="!items.length" data-ng-href="" value="Create Menu">
                    <div data-ng-show="show_menu_success" class="text-success">
                        <strong> Menu created successfully!</strong>
                    </div>
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>

            
    </form>
</section>