<section data-ng-controller="MenusController" data-ng-init="find()">
    <div class="page-header">
        <h4>List of Menus</h4>
    </div>
    <div>
        <a data-ng-repeat="menu in menus" data-ng-href="#!/menus/{{menu._id}}" class="list-group-item btn btn-primary done">
			<p>
				Menu for
				<span data-ng-bind="menu.date | date:'EEE'"></span>
			</p>
        </a>
    </div>
    <div class="alert alert-warning text-center done" data-ng-hide="!menus.$resolved || menus.length">
    	No Menus yet
    </div>
</section>