<section class= "home" data-ng-controller="MenusController" data-ng-init="findOne()">
	<div class="page-header">
		<h4 data-ng-bind="menu.date | date: 'medium'"></h4>
	</div>
	<h4>Menu for <span data-ng-bind="menu.date | date: 'EEE'"></span></h4>
    <div class="list-group col-xs-8 col-md-5 foodItem">
        <ul data-ng-repeat="item in menu.items" class="list-group-item navigate">
            <li class="list-group-item-heading" data-ng-bind="item.name"></li>
            <li class="list-group-item-heading price" data-ng-bind="item.price"></li>  
        </ul>
    </div>
	<div class="pull-right" data-ng-hide="authentication.user.roles === 'user'">
		<!-- <a class="btn btn-primary" href="/#!/menus/{{menu._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a> -->
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<a ng-click="viewOrders(menu._id)" class="btn btn-primary btn-lg">View Orders</a>
</section>